.tip-container{
    height:40px;
    text-align: center;
    background: rgba(56, 56, 56, 0.8);
    line-height: 40px;
    border-radius: 4px;
    padding:0 12px;
    position: absolute;
    font-size: 14px;
}