/* body * {
    box-sizing: border-box;
    flex-shrink: 0;
}

body {
    font-family: PingFangSC-Regular, Roboto, Helvetica Neue, Helvetica, Tahoma, Arial, PingFang SC-Light, Microsoft YaHei;
} */

.loginPage-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://xr-resources.yee.link/ZWZXUser/bg/loginbg.jpg');
    background-size: 100% 100%;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background-color: transparent;
}

button:active {
    opacity: 0.6;
}

.image_1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.loginPage-box {
    display: block;
    position: absolute;
    z-index: 9999;
    width: 70%;
    height: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background-image: url("https://xr-resources.yee.link/ZWZXUser/bg/bg.jpg");
    background-size: 100% 100%;
    border-radius: 5%;
}

.box-title {
    width: 120px;
    height: 40px;
    margin-left: 24px;
    margin-top: 8px;
    font-size: 16px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #49494A;
    line-height: 40px;
    letter-spacing: 2px;
}

.btn-login {
    // width: 45%;
    height: 40px;
    margin: 10%;
    // margin-top: 10%;
    // margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(101deg, #3FAAFF 0%, #9AA8FF 100%);
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 1px;
}

.btn-wx {
    width: 45%;
    height: 40px;
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 1px;
}

.wx {
    width: 25px;
    height: 25px;
}

.btn-textWX {
    color: #000;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #49494A;
    line-height: 24px;
    letter-spacing: 1px;
}

.box-pho {
    /* display: none; */
    position: absolute;
    width: 70%;
    // height: 50%;
    // height: 80%;
    left: 0;
    right: 0;
    // bottom: 0;
    // top: 0;
    margin: auto;
    background-image: url("https://xr-resources.yee.link/ZWZXUser/bg/bg.jpg");
    background-size: 100% 100%;
    min-height: 300px;
    border-radius: 5%;
}

.login-inp {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 35px;
    outline: none;
    border: none;
    padding-left: 8px;
    box-sizing: border-box;
}

.pho-login {
    width: 80%;
    height: 36px;
    margin-top: 2%;
    margin-left: 24px;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #fff;
    /* background: linear-gradient(101deg, #3FAAFF 0%, #9AA8FF 100%); */
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 1px;
}

.inp-val {
    position: relative;
    width: 60%;
    height: 36px;
    font-size: 14px;
    border-radius: 35px;
    outline: none;
    border: none;
    padding-left: 8px;
    box-sizing: border-box;
}

.val-number {
    // position: absolute;
    color: #3388FF;
    left: 33%;
}

.box-login {
    // width: 45%;
    margin: 10%;
    height: 36px;
    // margin-top: 3%;
    // margin-left: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(101deg, #3FAAFF 0%, #9AA8FF 100%);
    border-radius: 35px;
    border: 1px solid #FFFFFF;
    font-size: 15px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 24px;
    letter-spacing: 1px;
}

.box-login:hover {
    background: linear-gradient(126deg, #4CAFFF 0%, #A2AFFF 100%);
}

.agreement {
    display: block;
    // width: 50%;
    // height: 5%;
    margin: 2% 0 0 24px;
    // margin-left: 5%;
}

.agreement-text {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 12px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #49494A;
}
